<!DOCTYPE html>
<html>
<head>
    <title>Admin Login Page</title>
    <link rel="stylesheet" href="../static/stylesheet.css">
    <style>
        .flashes{
            color:red;
            text-align:center;
        }
    </style>
</head>
<body style="background-image:url('../static/adminbg.png');">
    
    {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

    <div class="main">
        
        <div class="headeradmin">
            <div class="logo">
                <h1>Influence Mart</h1>
            </div>
            <div class="form-admin">
                <div class="subclass">
                    <p class="form1" style="font-size:30px; font-style:italic;">Login as Admin</p>
                    
                    <form method="POST" action="/admin/">
                        <div class="form1">
                            <input type="text" name="username" placeholder="Please enter your username" required>
                            <label>Username</label>
                        </div>

                        <div class="form1">
                            <input type="password" name="password" placeholder="Please enter your password" required>
                            <label>Password</label>
                        </div>

                        <div class="form1">
                            <button class="button1" type="submit">Log in</button>
                            <a href="#!">Forgot password?</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
    </div>

</body>
</html>
