<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/stylesheet.css">

</head>
<body style="background-image:url(../static/BG.png);">
    {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

    <div style="background: linear-gradient(to right, rgb(238, 119, 36), rgb(216, 54, 58), rgb(221, 54, 117), rgb(180, 69, 147));  margin-top:50px;margin-bottom:40px;border-radius:20px; display:inline-block;">
        <h2 style="font-style:italic;font-size:40px;margin-top:20px;margin-bottom:0px; margin-left:35px;">Influencer Registration Form</h2>

<form method="POST" action="/">
    <div class="form1">
        <label for="fullName">Full Name:</label>
        <input type="text" id="fullName" name="fullName" required><br><br>
    </div>

    <div class="form1">
        <label for="Username">User Name:</label>
        <input type="text" id="username" name="username" required><br><br>
    </div>

    <div class="form1">
        <label for="password">Password:</label>
        <input type="text" id="password" name="password" required><br><br>
    </div>
    
    <div class="form1">
        <label for="email">Email Address:</label>
        <input type="email" id="email" name="email" required><br><br>
    </div>
    
    <div class="form1">
        <label for="phone">Phone Number:</label>
        <input type="tel" id="phone" name="phone"><br><br>
    </div>
    
    <div class="form1">
        <label for="Youtube">youtube link:</label>
        <input type="text"  name="youtube"><br><br>
    </div>

    <div class="form1">
        <label for="Facebook">facebook link:</label>
        <input type="text"  name="Facebook"><br><br>
    </div>
    
    <div class="form1">
        <label for="instagram">instagram link:</label>
        <input type="text"  name="instagram"><br><br>
    </div>

    <div class="form1">
        <label for="snapchat">snapchat link:</label>
        <input type="text"  name="snapchat"><br><br>
    </div>
    
    <div class="form1">
        <label for="category">Category/Niche:</label>
        <input type="text" id="category" name="category"><br><br>
    </div>
    
    <div class="form1">
        <label for="bio">Bio/Description:</label><br>
        <textarea id="bio" name="bio" rows="4" cols="50"></textarea><br><br>
    </div>
    
    <div class="form1">
        <input type="checkbox" id="termsCheckbox" name="termsCheckbox" required>
        <label for="termsCheckbox">I agree to the Terms and Conditions</label><br><br>
    </div>
    
    <button style="text-align:center; margin-left:300px; margin-bottom:30px;;" type="submit">Submit</button>
    <p class="form1">Already have an account? <a href="/influencer">Sign in</a></p>
</form>

    </div>   
</body>
</html>

