<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/stylesheet.css">

</head>
<body style="background-image:url(../static/BG.png);">
    {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

    <div style="background: linear-gradient(to right, rgb(238, 119, 36), rgb(216, 54, 58), rgb(221, 54, 117), rgb(180, 69, 147));  margin-top:50px;margin-bottom:40px;border-radius:20px; display:inline-block;">
        <h2 style="font-style:italic;font-size:40px;margin-top:20px;margin-bottom:0px; margin-left:35px;">Influencer Registration Form</h2>
    <div class ='form'>
        <form method="POST" action="{{ url_for('influencer.registration') }}">
            {{ form.hidden_tag() }}
            <div class="form1">
                <label for="full_name">Full Name</label>
                {{ form.full_name(class="form-control") }}
                {% if form.full_name.errors %}
                    <div class="invalid-feedback">
                        {% for error in form.full_name.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="form1">
                <label for="username">Username</label>
                {{ form.username(class="form-control") }}
                {% if form.username.errors %}
                    <div class="invalid-feedback">
                        {% for error in form.username.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="form1">
                <label for="password">Password</label>
                {{ form.password(class="form-control") }}
                {% if form.password.errors %}
                    <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div class="form1">
                <label for="confirm_password">Confirm Password</label>
                {{ form.confirm_password(class="form-control") }}
                {% if form.confirm_password.errors %}
                    <div class="invalid-feedback">
                        {{ form.confirm_password.errors[0] }}
                    </div>
                {% endif %}
            </div>
            <div class="form1">
                <label for="email">Email</label>
                {{ form.email(class="form-control") }}
                {% if form.email.errors %}
                    <div class="invalid-feedback">
                        {{ form.email.errors[0] }}
                    </div>
                {% endif %}
            </div>
            <div class="form1">
                <label for="phone">Phone Number</label>
                {{ form.phone(class="form-control") }}
                {% if form.phone.errors %}
                    <div class="invalid-feedback">
                        {{ form.phone.errors[0] }}
                    </div>
                {% endif %}
            </div>
            <div class="form1">
                <label for="bio">Bio</label>
                {{ form.bio(class="form-control") }}
                {% if form.bio.errors %}
                    <div class="invalid-feedback">
                        {{ form.bio.errors[0] }}
                    </div>
                {% endif %}
            </div>
            <div class="form1">
                <label for="niche">Niche</label>
                {{ form.niche(class="form-control") }}
                {% if form.niche.errors %}
                    <div class="invalid-feedback">
                        {{ form.niche.errors[0] }}
                    </div>
                {% endif %}
            </div>
            {{ form.submit(class="button1") }}
        </form>

    </div>
    </div>   
</body>
</html>

