<!DOCTYPE html>
<html>
<head>
    <title>Influencer Login Page</title>
    <link rel="stylesheet" href="../static/stylesheet.css">
</head>
<body style="background-image: url(../static/BG.png);">
 <section class="main">
        
        <div class="header">
            <div class="logo" >
                <h1>Influence Mart</h1>
                    </div>
<div class="form">
        
    <p class="form1" style="font-size:30px; font-style:italic;">login to your Influencers account</p>
<form>
    <div class="form1" >
        <input type="username" placeholder="please enter your username">
        <label>username</label>
    </div>

<div class="form1">
    <input type="password" placeholder="please enter your password">
    <label>Password</label>
</div>

<div class="form1">
    <button class="button1" type="button">Log in</button>
    <a href="#!">Forgot password?</a>
</div>

<div class="form1" >
    <p style="font-weight:bold;">Don't have an account?</p>
    <a href="{{ url_for('influencer.register') }}">  <button type="button" class="button1">Create new influencer account</button></a>
</div>
<h1 style="font-size:30px; margin:20px;">
</h1>
</form>

</div>
</div>
</section> 
</body>
</html>
